{% assign grid_columns = 'col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- own markup -->
	<link rel="stylesheet" href="/stylesheets/styles.css" />
    
	{% if page.keywords %}
		<meta name="keywords" content="{{page.keywords | join: ','}}" />
		{% else %}
		<meta name="keywords" content="{{site.keywords | join: ','}}" />
	{% endif %}
	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
		{% else %}
		<meta name="description" content="{{site.description}}" />
	{% endif %}
    <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW"/>
    <title>
		{{site.main_title}} - {{page.title}}
	</title>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>


  <body>
  	<div id="wrapper" >
		<header>
			<div class="row">
				<div class="{{ grid_columns }} headerbar">
					<img src="/images/logoDark.png" class="img-responsive"/>
				</div>
			</div>
		</header>
		<section>
			<nav class="row">
				<div class="{{ grid_columns }} menubar">
					<div class="btn-group btn-group-lg btn-group-justified hidden-xs">
						{% include menubuttons.html %}			
					</div>
					
					<div class="btn-group btn-group-lg btn-group-vertical visible-xs">
						{% include menubuttons.html %}						
					</div>
				</div>
			</nav>
			<div class="row contentcontainer">
				<div class="{{ grid_columns }} content">
				
					{{ content}}
				</div>
			</div>
		</section>
		<footer>
			<div class="row">        
				<div class="{{grid_columns}}">					
					&copy; archi<b>wise</b> bvba. Contact us at <SCRIPT TYPE="text/javascript">
					<!-- 
					addd=('in' + 'fo@' + 'archi' + 'wise.com')
					document.write('<A href="mailto:' + addd + '">' + addd + '</a>')
					 //-->
					</script>
					<NOSCRIPT>
						<em> [email address protected, please enable JavaScript] </em>
					</NOSCRIPT> or call +32 (0) 486 88 41 36.
				</div> 
			</div>
		</footer>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
  	<script src="javascripts/respond.js"></script>
  	<script type="text/javascript">
  		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19062784-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
   </script>
  </body>
 
</html>